{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
    "DatabaseSettings": {
      "MysqlServer": {
        "Server": "",
        "Port": "",
        "Database": "",
        "User": "",
        "Password": ""
      }
    },
  "JwtConfig": {
      "AccessTokenKey": "key"
  },
  "CloudinaryConfig": {
        "CloudName": "CLOUDINARY_CLOUD_NAME",
        "ApiKey": "CLOUDINARY_API_KEY",
        "ApiSecret": "CLOUDINARY_API_SECRET"
  }
}
